

:root{ --emoji-size:1em }
.emoji{ font-style:normal; font-variant-emoji:emoji; font-size:var(--emoji-size); vertical-align:-2px }



.emoji{display:inline-block;vertical-align:text-bottom}

.emoji{display:inline-block;vertical-align:text-bottom}

.emoji{display:inline-block;vertical-align:text-bottom}
